@charset "utf-8";
/* CSS Document */

.CSSTableGenerator {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;

	-moz-border-radius-bottomleft:22px;
	-webkit-border-bottom-left-radius:22px;
	border-bottom-left-radius:22px;

	-moz-border-radius-bottomright:22px;
	-webkit-border-bottom-right-radius:22px;
	border-bottom-right-radius:22px;

	-moz-border-radius-topright:22px;
	-webkit-border-top-right-radius:22px;
	border-top-right-radius:22px;

	-moz-border-radius-topleft:22px;
	-webkit-border-top-left-radius:22px;
	border-top-left-radius:22px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:22px;
	-webkit-border-bottom-right-radius:22px;
	border-bottom-right-radius:22px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:22px;
	-webkit-border-top-left-radius:22px;
	border-top-left-radius:22px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:22px;
	-webkit-border-top-right-radius:22px;
	border-top-right-radius:22px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:22px;
	-webkit-border-bottom-left-radius:22px;
	border-bottom-left-radius:22px;
}.CSSTableGenerator tr:hover td{

}
.CSSTableGenerator tr:nth-child(odd){ background-color:#e9e9e9; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#fffafa; }.CSSTableGenerator td{
	vertical-align:middle;


	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:10px;
	font-size:12px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #a30824 5%, #a30824 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a30824), color-stop(1, #a30824) );
	background:-moz-linear-gradient( center top, #a30824 5%, #a30824 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#a30824", endColorstr="#a30824");	background: -o-linear-gradient(top,#a30824,a30824);

	background-color:#a30824;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:17px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #a30824 5%, #a30824 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a30824), color-stop(1, #a30824) );
	background:-moz-linear-gradient( center top, #a30824 5%, #a30824 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#a30824", endColorstr="#a30824");	background: -o-linear-gradient(top,#a30824,a30824);

	background-color:#a30824;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}